<!DOCTYPE html>
<head>
    <link rel="shortcut icon" href="assets/img/whitehat.ico">
    <title>Courier Course Manager</title>
    <link type="text/css" rel="stylesheet" href="css/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="scripts/index.js"></script>
</head>

<body>

<header>
    <a href="#main" id="home">
    <img src="assets/img/hat.ico">
    </a>
    <h1 id = "logo">Courier Course Manager</h1>
</header>
<nav>
    <ul id = "menu">
            <li><a href="/index#main" id="upload">Upload Course File</a></li>
            <li><a href="/courses" id="courses">My Courses</a></li>
            <li><a href="/profile" id="profile">My Profile</a></li>
            <li><a href="/login" id="login">Login</a></li>
            <li><a href="/index#main" id="about">About</a></li>
            <li><a href="/logout" id="logout">Logout</a></li>
    </ul>
</nav>
<main>

<form action="/uploadSyllabus" method="POST" enctype='multipart/form-data' id="uploadPdf" name="uploadPdf" >Course:
<input type="file" name="file" multiple>
<br>
<input type="submit" value="Upload">
<input type="reset" value="Reset">
<br>
</form>

<p id="info">  <b>Courier Course Manager</b> is an easy way for instructors and students to create, maintain, and update their schedules.<br><br>Please upload a .txt file in the following format:<br><br>
<img src="assets/img/templateForTextfile.png">

</main>

<!--
<footer>
    <a href="#">Back to top</a>
    <img id="hat"  src="assets/img/whitehat.ico">
</footer>
</body> ––>
