<!DOCTYPE html>
<head>
    <link rel="shortcut icon" href="assets/img/whitehat.ico">
    <title>Courier Course Manager</title>
    <link type="text/css" rel="stylesheet" href="css/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="scripts/login.js"></script>
</head>

<body>

<header id ="loginpage">
    <a href="#main" id="home">
    <img src="assets/img/hat.ico">
    </a>
    <h1 id = "logo">Courier Course Manager</h1>
</header> 
<main>
<article id="loginpage">
<form id='loginForm'>
<input type="text" placeholder ="Username" name="username">
<br>
<input type="text" placeholder ="Password" name="password">
<br>
<br>
<input type="submit" value="Log In">
<input type="reset" value="Reset">
<br>
</form>
<p>Don't have an account?</p>
<input type="button"  id="signUpButton" value="Sign Up"/>

<!-- <div class='center' id='signupFormStr' style='display: flex';>

</div> -->
<br>
<br>
<form id='signUp'>
<input type="text" placeholder ="Username" name="username">
<br>
<input type="text" placeholder ="Password" name="password">
<br>
<input type="text" placeholder ="Confirm Password" name="confirmedPassword">
<br>
<input type="text" placeholder ="FirstName" name="firstName">
<br>
<input type="text" placeholder ="LastName" name="lastName">
<br>
<input type="text" placeholder ="Email" name="email">
<br>
<br>
<input type="submit" value="Sign Up" >
<input type="reset" value="Reset">
<br>
</form>
<br>
</article>


</main>

