/*
Important colors:
deep aqua: #003B46
ocean: #07575B
wave: #66A5AD
seafoam: #C4DFE6
source: https://designschool.canva.com/blog/100-color-combinations/
*/
html {
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    color: #66A5AD;
    background: #C4DFE6;
}
#main {
   min-height: 400px;
   margin-bottom: 100px;
   clear: both;
}

/*#profileCard {
     width: 565px;
    min-height: 250px;
    background: white;
    padding: 25px;
    border-radius: 2px;
    margin-bottom: 20px;
    font-size: 22px;
    display: inline-block;
}*/

#profileHeading {
    font-size: 30px;
    color: #000000;
}

#profileSubHeading {
    font-size: 28px;
    text-decoration: underline;
    color: #000000;
}

#profileBody {
    font-size: 26px;
    color: #000000;
}

#signUpForm {
    width: 220px;
    padding: 15px;
    font-size: 12px;
    display: inline-block;
}


#logo {
    display: center;
    font-family: Garamond, serif;
    color: #003B46;
    font-size: 40px;
    margin-bottom: 50px;
}


/*img{
    margin-bottom: 0;
    max-height: 50px;
    max-width: 100%;
    opacity: 0.6;
}*/
nav ul,footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #07575B;
    margin-bottom: 50px;
}

nav li,footer li{
    float: center;
}

nav a,footer a{
    color: #66A5AD;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}
#addmarkable, #downloadcalendar{
    color: #66A5AD;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}
#addmarkable:hover,#downloadcalendar:hover {
    color: #07575B;
    background: #66A5AD;
}
nav a:hover,footer a:hover {
    color: #07575B;
    background: #66A5AD;
}
input[type=button],input[type=submit], input[type=reset]{
     color: #66A5AD;
     border: 2px solid;
     border-color: #C4DFE6;
     border-radius: 25px;
   outline: none;
   
 }
input[type=button]:hover,input[type=submit]:hover, input[type=reset]:hover{
     color: #66A5AD;
     border: 2px solid;
     border-color: #66A5AD;
     border-radius: 25px;
     
}
input{
    padding: 14px 16px;
    width: 50%;
}
input[type=file] {
    width: 100%;
    box-sizing: border-box;
}
input[type=text] {
  width: 100%;
  box-sizing: border-box;
    border: 2px solid;
    border-color: #66A5AD;
    border-radius: 25px;
  outline: none;
}
input[type=password] {
    width: 25%;
    box-sizing: border-box;
    border: 2px solid;
    border-color: #66A5AD;
    border-radius: 25px;
  outline: none;
}
footer {
    background: #07575B;
    padding: 0px 0px;
    bottom: 0;
    text-align: center;
}

#signUp{
    display: none;
    text-align: center;
}

#courselist{
    color: #003B46;
    width: 50%;
    text-align: center;
    vertical-align: middle;


}

#courselist2{
    color: #003B46;
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

#mark1{
    list-style-type: none;
    font-size: 24px;
    color: #FFFFFF;
    background: #068D9D;
    padding: 10 px;
    border: 2px solid;
    border-radius: 25px;

}
#mark1 input[type=button]{
    color: #FFFFFF;
    background: #068D9D;
    width: 25%;
} 
#mark2{
    list-style-type: none;
    font-size: 24px;
    color: #7F055F;
    background: #80DED9;
    padding: 10 px;
    border: 2px solid;
    border-radius: 25px;
}
#mark2 input[type=button]{
    color: #7F055F;
    background: #80DED9;
    width: 25%;
}
#mark3{
    list-style-type: none;
    font-size: 24px;
    color: #A78682;
    background: #53599A;
    padding: 10 px;
    border: 2px solid;
    border-radius: 25px;
}
#mark3 input[type=button]{
    color: #A78682;
    background: #53599A;
    width: 25%;
}
#mark4{
    list-style-type: none;
    font-size: 24px;
    color: #A7ADC6;
    background: #33658A;
    padding: 10 px;
    border: 2px solid;
    border-radius: 25px;
}
#mark4 input[type=button]{
    color: #A7ADC6;
    background: #33658A;
    width: 25%;
}
#mark5{
    list-style-type: none;
    font-size: 24px;
    color: #CEA07E;
    background: #129490;
    padding: 10 px;
    border: 2px solid;
    border-radius: 25px;
}
#mark5 input[type=button]{
    color: #CEA07E;
    background: #129490;
    width: 25%;
}
#mark6{
    list-style-type: none;
    font-size: 24px;
    color: #AFD2E9;
    background: #9D96B8;
    padding: 10 px;
    border: 2px solid;
    border-radius: 25px;
}
#mark6 input[type=button]{
    color: #AFD2E9;
    background: #9D96B8;
    width: 25%;
}
#mark7{
    list-style-type: none;
    font-size: 24px;
    color: #F0386B;
    background: #6B2D5C;
    padding: 10 px;
    border: 2px solid;
    border-radius: 25px;
}
#mark7 input[type=button]{
    color: #F0386B;
    background: #6B2D5C;
    width: 25%;
}
#mark8{
    list-style-type: none;
    font-size: 24px;
    color: #7353BA;
    background: #2F195F;
    padding: 10 px;
    border: 2px solid;
    border-radius: 25px;
}
#mark8 input[type=button]{
    color: #7353BA;
    background: #2F195F;
    width: 25%;
}
#mark9{
    list-style-type: none;
    font-size: 24px;
    color: #C9B1BD;
    background: #B49594;
    padding: 10 px;
    border: 2px solid;
    border-radius: 25px;
}
#mark9 input[type=button]{
    color: #C9B1BD;
    background: #B49594;
    width: 25%;
}
#mark10{
    list-style-type: none;
    font-size: 24px;
    color: #7F9172;
    background: #567568;
    padding: 10 px;
    border: 2px solid;
    border-radius: 25px;
}
#mark10 input[type=button]{
    color: #7F9172;
    background: #567568;
    width: 25%;
}
#loginpage{
    text-align:center;
}
/*
Responsive UI stuff to be added
*/
@media screen and (min-width: 480px)
{
    #logo {
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 768px)
{
    html {
        text-align: left;
    }
    #logo{
       display: inline-flex;
        margin-bottom: 50px;

    }
    header img{
        display: inline-flex;
        max-height: 100px;
    }

    input{
        padding: 14px 16px;
        width: 10%;
    }
    input[type=file] {
        width: 25%;
        box-sizing: none;
    }
    input[type=text] {
        width: 25%;
    }
    nav li{
        float: left;
    }

    footer{
        position: fixed;
        width: 100%;
    }
    #signUpButton{
        width: 25%;
    }


}
